.navbar {
  width: 250px;

  ul {
    > li {
      border-radius: 2px;
      margin-bottom: 1px;
      position: relative;

      &:hover {
        background: #fafafd;
        box-shadow: 1px 1px 0 0 #dce1e6;
      }

      a.default {
        color: #1f1f20;
        text-decoration: none;
        font-weight: bold;
        display: block;
        padding: 4px 4px 4px 15px;;
        position: relative;
        transition: 0.15s;

        &.active {
          color: #fd6247;
        }
      }
    }

    :last-child {
      margin: 0;
    }
  }
}

